{% extends 'base.html' %}

{% block content %}

<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
            </ol>
          </nav>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <h5 class="my-5">RAHUL KUMAR SAHU</h5>
              <a href="/login">Click here</a>
              <p class="text-muted mb-1">Student Developer</p>
              <p class="text-muted mb-4">Manipal University Jaipur</p>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fas fa-globe fa-lg text-warning"></i>
                  <a href="/www.linkedin.com/in/rahul-kumar-sahu" target="_blank" rel="noopener noreferrer">www.linkedin.com/in/rahul-kumar-sahu</a>
                  <!--<p class="mb-0">www.linkedin.com/in/rahul-kumar-sahu</p>-->
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">Rahul Kumar Sahu</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">mail2rahulsahu@gmail.com</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">(+91)9000231540</p>
                </div>
                <hr>
                <div class="col-sm-3">
                  <p class="mb-0">Description</p>
                </div>
                <hr>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">I am Rahul Kumar Sahu, a 3rd year Btech Computer Science Student
                  from Manipal Univeristy Jaipur. I am an enthusiastic learner who likes to explore and develop
                  new things in the technological market.This is my first web project I have made using
                  django.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}